* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Lato', sans-serif;
    font-size: 62.5%;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
    background-color:#181818;
    color: white;  
    scroll-behavior: auto;
}

a {
    text-decoration: none;
    color: white;
}
li {
    list-style: none;
}

/*  ------------------------------------ */
/* HEADER */
/*  ------------------------------------ */
header {
    background-image:linear-gradient(rgba(0, 0, 0, 0.52),rgba(0, 0, 0, 0.52)), url(img/zachod.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    padding: 1.5rem 2rem;
    background-attachment: fixed;
    
}
.width-wrapper {
    max-width: 115rem;
    margin-left: auto;
    margin-right: auto;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
   
    
}

nav img {
    border-radius: 50%;
    width: 11rem;

}
.main-nav {
    display: flex;
}
.main-nav li {
    margin: 0 1.5rem;
    text-transform: uppercase;
    font-size: 1.8rem;
    
}
.main-nav li a {
    padding: 1.5rem;
    
}
/* SHIFT */
nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}
nav.shift ul li a {
    position:relative;
    z-index: 1;
}
nav.shift ul li a:hover {
    color: #ff8;
}
nav.shift ul li a:after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 1px;
    content: '.';
    color: transparent;
    background:  #000;
    visibility: none;
    opacity: 0;
    z-index: -1;
    border-radius: 0.2rem;
}
nav.shift ul li a:hover:after {
    opacity: 1;
    visibility: visible;
    height: 100%;
}
  
/* BORDER HOVER EFFECT
.main-nav li a:link,
.main-nav li a:visited {
    border-bottom: 0.2rem solid transparent;
    padding-bottom: 0.5rem;
    transition: border-bottom 0.4s, color 0.4s;
}
.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 0.2rem solid #000;
    
    color: #ff8;
    
}
*/
/*  ------------------------------------ */
/* REUSABLE */
/*  ------------------------------------ */
.row {
    max-width: 1140px;
    margin: 0 auto;
}

h1,h2 {
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 0.1rem;
    font-size: 4rem;
}
h1 {
    margin-top: 30rem;
    margin-bottom: 4rem;
}

h2:after {
    content: "";
    display: block;
    background-color:  #ff8;
    width: 9rem;
    height: 0.2rem;
    margin: 2.5rem auto;

}
.btn:link,
.btn:visited {
    border-radius: 30px;
    padding: 1.2rem 2.2rem;
    font-size: 2.2rem;
    transition: background-color 0.5s,border 0.5s;
    font-weight: 300;
}

.btn-full:link,
.btn-full:visited,
.btn-full-light:link,
.btn-full-light:visited {
    border: 1px solid black;
    background-color: black;
    color: #ff8;
    margin-right: 2.5rem;
    
}

.btn-outline:link,
.btn-outline:visited {
    color: #ff8;
    border: 1px solid  #ff8;
    background-color: transparent;
}

.btn-full:hover,
.btn-full:active,
.btn-outline:hover,
.btn-outline:active {
    background-color: #101010;
    border: 1px solid #101010;
}
.btn-full-light:hover,
.btn-full-light:active {
    background-color: #101010;
    border-color: #ff8;
}
section {
    padding: 7rem 3rem;
}

/*  ------------------------------------ */
/* ABOUT */
/*  ------------------------------------ */
.desc {
    font-size: 2.95rem;
    width: 80%;
    margin: 0 auto;
    font-weight: 100;
    margin-bottom: 5rem;
}
.about {
    display: flex;
}
.story {
    font-weight: 300;
    font-size: 2.7rem;
    flex: 3;
    height: 100%;
    padding: 2rem 3rem 2rem 3rem;
    margin-left:3rem;
    border: 1px solid #3b3b3b;
    background-color: #323232;
    box-shadow: 0 0 2px 2px #434343;
    text-align: justify;
}
.story ion-icon {
    font-size: 5rem;
}
.self-image {
    flex: 2;
    margin-right: 0;
    margin: -2px;
}
.self-image img {
    width: 100%;
}

.insta {
    font-size: 2.5rem;
    margin-top: -2rem;
    color: #878787;
    transition: color 0.5s;
    
}
.insta ion-icon {
    margin-top: 1rem;
    margin-right: 1rem;
    margin-bottom: -0.4rem;
}

.insta:hover {
    color:#ff8;
}
/*  ------------------------------------ */
/* OPINIE */
/*  ------------------------------------ */
.section-review {
    background-image: linear-gradient(rgba(0, 0, 0, 0.698),rgba(0, 0, 0, 0.52)),url(img/opinieBg2.jpeg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
blockquote {
    font-size: 2rem;
    line-height: 145%;
    font-style: italic;
    font-weight: 300;
    text-align: justify;
    padding: 0 2rem;
}

blockquote:before {
    content: "\201C";
    font-size: 11rem;
    display: block;
    margin-bottom: -1.5rem;
    margin-left: -1rem;
     
}

cite {
    display: block;
    font-size: 2.3rem;
    margin-top: 1rem;
}
cite:before {
    content: "\007E";
    font-size: 2.5rem;
    margin-right: 0.5rem;

}
.section-review .row {
    max-width: 1300px;
    margin-top: 4rem;
}

/*  ------------------------------------ */
/* OFERTA */
/*  ------------------------------------ */
.section-oferta .row {
    margin-bottom: 1.5rem;
}
.box-oferta {
   display: flex; 
   flex-direction: column;
   
}

.price {
    background-color:#202020;
    border-bottom: 1px solid #181818;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    padding: 1rem;
}
h3 {
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: 100;
}
.price p {
    font-size: 6.5rem;
    font-weight: 100;
    color: #ff8;
    margin: 0;
}
.msc {
    font-size: 2.5rem;
    margin-left: 10px;
}
.opis {
    background-color: #292929;
    font-size: 2.5rem;
    font-weight: 100;
    border-bottom: 1px solid #181818;
    padding: 1rem 0;
    line-height: 150%;
}
.buy-button {
    background-color: #292929;
    text-align: center;
    padding: 1.5rem 0;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}
.opis ion-icon {
    color: #ff8;
    margin-bottom: -3px;
    margin-right: 15px;
}
.disabled ion-icon {
    color: #979797;
}
.disabled {
    width: fit-content;
    text-decoration: line-through;
    text-decoration-color: #979797;
    color: #c2c0c0
}
.read-more {
    font-size: 1.8rem;
    font-weight: 300;
    color: #878787;
    transition: color 0.5s;
}
.read-more ion-icon {
    margin-bottom: -2px;
    margin-right: 4px;
    
}
.read-more:hover {
    color: #ff8;
}
/* POPUP */
.popup {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100vw; /* Full width */
    height: 100vh; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.678); /* Black w/ opacity */
  }
  
  /* popup Content */
  .popup-content {
    margin: 3rem auto;
    width: 50%;
    position: relative;
  }
  .popup-text {
    background-color: #292929;
    font-size: 2.5rem;
    font-weight: 100;
    border-bottom: 1px solid #181818;
    padding: 1rem 2rem;
    line-height: 150%;
}
.popup-text p {
    font-size: 2.5rem;
    color: white;
    text-align: justify;
}
.popup-bold {
    font-weight: 400;
}
  /* The Close Button */
  .close {
    color: #878787;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 4rem;
    margin: 2rem;
    transition: color 0.5s;
  }
  
  .close:hover,
  .close:focus {
    color: #ff8;

  }

/*  ------------------------------------ */
/* DARMOWY E-BOOK */
/*  ------------------------------------ */
.section-free {
    background-color: #101010;
}
.redu {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin-bottom: 4rem;
}
.redu-text {
    flex: 2;
    font-size: 2.2rem;
    font-weight: 300;
    letter-spacing: 0.03rem;
    word-spacing: 0.14rem;
    text-align: justify;
    margin: 1.2rem 3rem 0;
    background-color: #181818;
    padding: 2rem 3rem;
    
}
.redu-text ion-icon {
    font-size: 3.9rem;
    color: #ff8;
}
.redu-img {
    flex: 1;
    margin-top: 1.2rem;
}
.redu-img img {
    width: 100%;
}
.ebook-text {
    max-width: 90rem;
    margin: 0 auto;
    font-size: 2.3rem;
}
.ebook-text p {
    max-width: 89%;
    margin: 0 auto;
    color: #c2c2c2;
}
input {
    display: block;
    width: 50%;
    height: 50px;
    border-radius: 6px;
    -webkit-box-shadow: 0;
            box-shadow: 0;
    margin: 2rem auto;
    background-color: #070707;
    border: 2px solid #181818;
    background-image: url('img/mail-outline.svg');
    background-repeat: no-repeat;
    background-position: 5px;
    padding-left: 60px;
    color: #b1b1b1;
    font-weight: 300;
    transition: width 0.4s ease-in-out, border 0.4s,box-shadow 0.4s ease-in-out;
}

input:focus {
    width: 55%;
    box-shadow: 0 0 2px 2px #ff8;
    border: 2px solid transparent;
    outline: none;
}
::placeholder {
    color:#757575;
    font-weight: 300;
}
/*  ------------------------------------ */
/* E-BOOKI */
/*  ------------------------------------ */
.ebooks-row {
    display: flex;
    justify-content: space-evenly;
    max-width: 1300px;
    margin: 0 auto;
}
.ebook-box {
    display: flex;
    flex-direction: column;
    background-color: #202020;
}
.ebook-box img {
    width: 100%;
    border: none;
}
#middle-box {
    margin: 0 4rem;
}
.ebook-box p {
    font-size: 2rem;
    text-align: justify;
    padding: 0 1rem;
}
.ebook-box a:link,
.ebook-box a:visited {
    font-size: 2.5rem;
    font-weight: 100;
    margin: 1rem;
    text-transform: uppercase;
    color: #ff8;
    border-bottom: 1.8px solid #ff8;
    width: fit-content;   
    transition: all 0.2s ease-in-out;
}
.ebook-box a:hover,
.ebook-box a:active {
    color: white;
    border-bottom: 1.8px solid transparent;
    font-size: 2.8rem;
}
.section-ebooks .desc {
    margin-bottom: 3.5rem;
}
/*  ------------------------------------ */
/* KONTAKT */
/*  ------------------------------------ */
.section-contact {
    background-color: #101010;
}
.contact {
    display: flex;
    max-width: 1300px;
    margin: 0 auto;
    background-color: #181818;
    align-items: center;
    padding: 3rem;
    justify-content: space-between;
}
.contact-img {
    flex: 1;
    margin-right: 2rem;
}
.contact-img img {
    width: 100%;
}
.contact-data {
    flex: 1;
    font-size: 3rem;
    color: #c2c2c2;
    font-weight: 100;
    margin-left: 2rem;
    
}
.contact-data ion-icon {
    margin-bottom: -5px;
    margin-right: 25px;
    color: #ff8;
    font-size: 3.5rem;
}
.contact-data-list li {
    margin: 3rem 0;
}

.contact-data-list li a:link,
.contact-data-list li a:visited {
    color: #c2c2c2;
    border-bottom: 2px solid transparent;
    padding-bottom: 3px;
    transition: all 0.4s;
}
.contact-data-list li a:hover,
.contact-data-list li a:active {
    color: #ff8;
    border-bottom: 2px solid #ff8;
    
}
/*  ------------------------------------ */
/* FOOTER */
/*  ------------------------------------ */
footer {
    padding: 4rem;
    font-size: 1.8rem;
    color: #c2c0c0;
}

.footer-logo img {
    border-radius: 50%;
    height: 7rem;
}
.footer-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-bottom: 2rem;
}
.logos ul {
    display: flex;
    font-size: 2.5rem;
}
.footer-fb,
.footer-insta {
    margin-right: 50%;
    transition: color 0.3s;
}
.footer-fb:hover,
.footer-fb:active {
    color: #1877f2;
}
.footer-insta:hover,
.footer-insta:active {
    color: #c32aa3;
}
.developer a {
    color: #c2c0c0;
    border-bottom: 1px solid transparent;
    transition: all 0.4s;
}
.developer a:hover {
    color: #ff8;
    border-bottom: 1px solid #ff8;
}