* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Lato', sans-serif;
    font-size: 62.5%;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
    background-color:	#181818;
    color: white;  
}

a {
    text-decoration: none;
    color: white;
}
li {
    list-style: none;
}

/*  ------------------------------------ */
/* HEADER */
/*  ------------------------------------ */
header {
    background-image:linear-gradient(rgba(0, 0, 0, 0.52),rgba(0, 0, 0, 0.52)), url(img/zachod.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    padding: 1.5rem 2rem;
    background-attachment: fixed;
    
}
.width-wrapper {
    max-width: 115rem;
    margin-left: auto;
    margin-right: auto;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
   
    
}

nav img {
    border-radius: 50%;
    width: 11rem;

}
.main-nav {
    display: flex;
}
.main-nav li {
    margin: 0 1.5rem;
    text-transform: uppercase;
    font-size: 1.8rem;
    
}
.main-nav li a {
    padding: 1.5rem;
    
}
/* SHIFT */
nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}
nav.shift ul li a {
    position:relative;
    z-index: 1;
}
nav.shift ul li a:hover {
    color: #ff8;
}
nav.shift ul li a:after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 1px;
    content: '.';
    color: transparent;
    background:  #000;
    visibility: none;
    opacity: 0;
    z-index: -1;
    border-radius: 0.2rem;
}
nav.shift ul li a:hover:after {
    opacity: 1;
    visibility: visible;
    height: 100%;
}
  
/* BORDER HOVER EFFECT
.main-nav li a:link,
.main-nav li a:visited {
    border-bottom: 0.2rem solid transparent;
    padding-bottom: 0.5rem;
    transition: border-bottom 0.4s, color 0.4s;
}
.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 0.2rem solid #000;
    
    color: #ff8;
    
}
*/
/*  ------------------------------------ */
/* REUSABLE */
/*  ------------------------------------ */
.row {
    max-width: 1140px;
    margin: 0 auto;
}

h1,h2 {
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 0.1rem;
    font-size: 4rem;
}
h1 {
    margin-top: 30rem;
    margin-bottom: 4rem;
}

h2:after {
    content: "";
    display: block;
    background-color:  #ff8;
    width: 9rem;
    height: 0.2rem;
    margin: 2.5rem auto;

}
.btn {
    border-radius: 3rem;
    padding: 1.2rem 2.2rem;
    font-size: 2.2rem;
    transition: background-color 0.5s,border 0.5s;
}

.btn-full:link,
.btn-full:visited {
    border: 0.1rem solid black;
    background-color: black;
    color: #ff8;
    margin-right: 2.5rem;
    
}

.btn-outline:link,
.btn-outline:visited {
    color: #ff8;
    border: 1px solid  #ff8;
    background-color: transparent;
}

.btn-full:hover,
.btn-full:active,
.btn-outline:hover,
.btn-outline:active {
    background-color: #101010;
    border: 1px solid #101010;
}
section {
    padding: 7rem 3rem;
}

/*  ------------------------------------ */
/* ABOUT */
/*  ------------------------------------ */
.desc {
    font-size: 2.95rem;
    width: 80%;
    margin: 0 auto;
    font-weight: 100;
    margin-bottom: 5rem;
}
.about {
    display: flex;
    
}
.story {
    font-weight: 300;
    font-size: 2.7rem;
    flex: 3;
    height: 100%;
    padding: 2rem 3rem 2rem 3rem;
    margin-left:3rem;
    border: 1px solid #3b3b3b;
    background-color: #323232;
    box-shadow: 0 0 2px 2px #434343;
    text-align: justify;
}
.story ion-icon {
    font-size: 5rem;
}
.self-image {
    flex: 2;
    margin-right: 0;
    margin: -2px;
}
.self-image img {
    width: 100%;
}

.insta {
    font-size: 2.5rem;
    margin-top: -2rem;
    color: #878787;
    transition: color 0.3s;
    
}
.insta ion-icon {
    margin-top: 1rem;
    margin-right: 1rem;
    margin-bottom: -0.4rem;
}

.insta:hover {
    color:#ff8;
}
